<app-menu></app-menu>
<div class="container">
  <div class="row">
    <!-- <h1>IDGS901</h1>
    <p>Hola mundo</p>
    USo de etiquetas para llamar variables dinamicas
    <div>
      {{ title }}
    </div>
    <hr />
    <div>El doble de 3 es: {{ calcular(3) }}</div>
    <hr />
    <div><b>Matricula:</b> {{ alumnos.matricula }}</div>
    <div><b>Nombre:</b> {{ alumnos.nombre | uppercase }}</div>
    <div><b>Edad:</b> {{ alumnos.edad }}</div>
    <div><b>Fecha Nacimiento:</b> {{ alumnos.fechaNacimiento | date }}</div>
    <div><b>Pago:</b> {{ alumnos.pago | currency }}</div>
    <hr>
    <br>

    <app-utl></app-utl>
    <hr>
    <br>
    <app-env></app-env>
    <hr>
    <br>-->
    <!-- <app-iric></app-iric> -->
    <app-suma></app-suma>
    <hr>
    <br>
    <app-operas-bas></app-operas-bas>
  </div>
</div>
